{% extends 'base.html.twig' %}

{% block title %}
	Connexion
{% endblock %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/log.css') }}">
{% endblock %}

{% block body %}

	<form method="post">

		<h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

		{# Email #}
		<label for="inputEmail">Email</label>
		<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required>

		{% if error and (error.getMessage() == 'Bad credentials.') %}
				<div class="alerte alert-danger">Email incorrect</div>
		{% endif %}

		{# Mot de passe #}
		<label for="inputPassword">Mot de passe</label>
		<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

		{% if error and (error.getMessage() == 'The presented password is invalid.') %}
			<div class="alerte alert-danger">Mot de passe incorrect</div>
		{% endif %}

		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<button class="btn-log " type="submit">
			Se connecter
		</button>


	</form>

{% endblock %}
