{% extends 'base.html.twig' %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}

	Hello HomeController!

{% endblock %}

{% block body %}

	<h1>SymfonySession</h1>

	{% if app.user %}

		Bonjour {{ app.user }}
		
	{% endif %}
	
{% endblock %}
