{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>SymfonySession</h1>

	{% if app.user %}
		Bonjour {{ app.user }}
	{% endif %}
	
{% endblock %}
