{% extends 'base.html.twig' %}

{% block additional_css %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}

	Accueil

{% endblock %}

{% block body %}

	<section class="header">

		<div class="titre">
			<h1>Projet Sessions Symfony</h1>
			<p>Application permettant de gérer des sessions de formations et les stagiaires inscrient à une ou plusieurs sessions</p>
		</div>

		<div class="content-header">
			<div class="img-formation">
				<img src="img\formation.png" alt="Etudiant en formation professionnelle">
			</div>
			<div class="cards">
				<div class="card">
					<div>
						<i class="fa-solid fa-graduation-cap" style="color: #000000;"></i>
						<h2>Formations</h2>
					</div>
					<p>Voir les formations</p>
					<a href="{{path('app_formation') }}">
						<i class="fa-solid fa-arrow-right-long"></i>
					</a>
				</div>
				<div class="card">
					<div>
						<i class="fa-solid fa-calendar" style="color: #000000;"></i>
						<h2>Sessions</h2>
					</div>
					<p>Voir le calendrier des formations</p>
					<a href="{{path('app_session') }}">
						<i class="fa-solid fa-arrow-right-long"></i>
					</a>
				</div>
				<div class="card">
					<div>
						<i class="fa-solid fa-list-ul" style="color: #000000;"></i>
						<h2>Catégories</h2>
					</div>
					<p>Voir les catégories des formations</p>
					<a href="{{path('app_categorie') }}">
						<i class="fa-solid fa-arrow-right-long"></i>
					</a>
				</div>
			</div>
		</div>


	</section>


{% endblock %}
