/* Mobile Styles (Mobile First) */
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  text-decoration: none;
  color: 2600A3;
}

.section-border {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 0;
  background: var(--bg-color-3);
}

.div-border {
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  width: 100%;
}

.stagiaires p:nth-child(2n + 1) {
  background: rgba(77, 85, 196, 0.1);
}

.session-info h2,
.stagiaires-list h3,
.session-programme h3,
.add-stagiaire h3,
.create-stagiaire h3,
.add-module h3 {
  color: var(--font-color-2);
  padding-left: 30px;
}

.session-details > div,
.session-details > div > div {
  margin-top: 20px;
  min-width: 150px;
}

.session-info .btn {
  margin-top: 10px;
}

.session-details p:first-child {
  margin: 0;
  font-weight: bold;
  color: #555;
}

.fa-solid {
  font-size: 20px;
  margin-right: 5px;
}

.stagiaire {
  padding: 10px 0;
}

.stagiaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.categorie-link,
.module-link {
  display: block;
  background-color: #fff;
  border-radius: 5px;
}

.table-programme {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 0;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  padding: 0 5px;
}

.table-programme div {
  display: flex;
  flex-wrap: wrap;
}

.table-programme div > div,
.table-programme div > a {
  width: 170px;
  max-width: 160px;
}

.session-programme b {
  padding-left: 15px;
}

.session-programme .items-module {
  padding: 15px;
  margin: 5px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
}

.session-programme {
  padding: 10px 0;
}

.edit-jour {
  display: flex;
  flex-direction: row;
}

.edit-jour .btn {
  font-size: 13px;
  max-width: fit-content;
  margin: 0;
  padding: 9px;
}

.edit-jour input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 35px;
  margin-right: 10px;
}

.add-stagiaire,
.create-stagiaire,
.add-module {
  display: flex;
  flex-direction: column;
  padding: 10px 5px;
}

.champ div {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.create-stagiaire .champ {
  gap: 10px;
  padding: 0;
}

.create-stagiaire form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.add-module form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.select-module {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.field-jours {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
}

.field-jours input[type="number"] {
  padding: 5px;
  border-radius: 4px;
  min-width: 35px;
  margin-right: 10px;
  height: 35px;
}

.create-stagiaire form div {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 0 15px;
}

.create-stagiaire form div:nth-child(4) {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
}

.create-stagiaire form label {
  width: 100px;
}

.add-stagiaire label {
  padding: 10px;
}
.add-module label {
  padding: 10px 0 10px 10px;
}

.create-stagiaire form .btn {
  margin: 0;
  padding: 10px 10px;
}

.btn {
  max-width: 300px;
}

.create-stagiaire form input,
.add-module input {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding-left: 5px;
  min-width: none;
}

.add-stagiaire select,
.add-module select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 300px;
  margin-bottom: 0px;
}

.add-module select {
  padding-left: 10px;
}

.add-stagiaire p,
.create-stagiaire p {
  color: #ff0000;
}

.delete-module .btn {
  max-width: 150px;
  padding: 5px;
  margin: 35px 0 0 0;
  background: rgb(255, 98, 0);
  background: linear-gradient(
    106deg,
    rgba(255, 98, 0, 1) 0%,
    rgba(214, 38, 26, 1) 78%
  );
}

.delete-module {
  display: flex;
}

@media (min-width: 576px) {
  .create-stagiaire form .btn {
    min-width: 300px;
  }

  .session-details > div:nth-child(2),
  .session-details > div:nth-child(3) {
    display: flex;
    flex-direction: row;
    gap: 30%;
  }
}

/* Tablet Styles */
@media (min-width: 768px) {
  .session-details div:last-child {
    margin-right: 0;
  }
}

/* Desktop Styles */
@media (min-width: 992px) {
  .fa-user-minus:hover {
    transform: scale(1.1);
  }
}
