@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap);
@keyframes slide-in {
  0% {
    transform: translateX(-90%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito";
}
#wrapper[data-theme="light"],
:root {
  --bg-color-1: #f1f2f3;
  --bg-color-2: #ffffed;
  --bg-color-3: #fff;
  --font-color-1: #000000;
  --font-color-2: #333;
  --ov-bg-color: rgb(0, 0, 0, 0.85);
}
#wrapper[data-theme="dark"] {
  --bg-color-5: #010c0c;
  --font-color-1: #ffffff;
}
.nav-links,
body {
  background-color: var(--bg-color-1);
}
body {
  height: 100vh;
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}

a {
  text-decoration: none;
}

/*
*
* 
* BARRE DE NAVIGATION
*
*
*/

/* Styles pour les écrans de taille inférieure (mobile) */

#navbar {
  position: relative;
  display: flex;
  height: 86px;
}
.nav-links {
  display: none;
  position: absolute;
  top: 0;
  width: 90vw;
  height: 100vh;
  z-index: 1;
}
.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
  padding-top: 80px;
}
#overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 110%;
  background-color: var(--ov-bg-color);
  z-index: -1;
}
.overflow {
  overflow: hidden;
}
.is-active {
  display: block;
}
.nav-links ul {
  list-style-type: none;
}
.nav-links li {
  width: 100%;
}
.nav-links li a {
  color: var(--font-color-2);
  text-decoration: none;
  margin: 10px;
  font-size: 1em;
  font-weight: 600;
}
.auth-links,
.page-links {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* Menu burger */
.hamburger {
  padding: 30px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  z-index: 2;
}
.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner::before {
  background-color: #000;
}
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  display: block;
}
.hamburger-inner {
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
.hamburger-animation {
  overflow: hidden;
}
.hamburger-animation .hamburger-inner {
  transition: background-color 0.125s 0.175s ease-in;
}
.hamburger-animation .hamburger-inner::before {
  left: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
}
.hamburger-animation .hamburger-inner::after {
  top: 10px;
  right: 0;
  transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
    top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
}
.hamburger-animation.is-active .hamburger-inner {
  transition-delay: 0s;
  transition-timing-function: ease-out;
  background-color: transparent !important;
}
.hamburger-animation.is-active .hamburger-inner::before {
  left: -80px;
  top: -80px;
  transform: translate3d(80px, 80px, 0) rotate(45deg);
  transition: left 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.hamburger-animation.is-active .hamburger-inner::after {
  right: -80px;
  top: -80px;
  transform: translate3d(-80px, 80px, 0) rotate(-45deg);
  transition: right 0.125s ease-out, top 0.05s 0.125s linear,
    transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
}
/* FIN MENU BURGER */

/* btn, lien, input */
.btn {
  border: 0;
  border-radius: 10px;
}
.btn {
  display: block;
  background: #5a70d3;
  color: #fff;
  padding: 10px;
  transform: none;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center;
  background-image: linear-gradient(315deg, #1e9afe 0, #645ff0 74%);
  max-width: 100%;
}
.btn-return {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  margin-left: 15px;
}

.link::before {
  content: url(/img/arrow-up.svg);
  padding-right: 5px;
  width: 100px;
  height: 100px;
}

.link-right::after {
  content: url(/img/arrow-up.svg);
  padding-left: 5px;
  width: 100px;
  height: 100px;
}

/* Footer */

#footer {
  width: 100%;
  min-height: 117px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 30px;
  background: #9c9c9c;
}

#footer a {
  color: #000;
}

/* Styles pour les petits écran */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .btn {
    max-width: 300px;
    margin-right: 10px;
  }
}

/* Styles pour les écrans de taille moyenne */
@media only screen and (min-width: 769px) and (max-width: 991px) {
  .btn {
    max-width: 300px;
    margin-right: 10px;
  }
}

/*
*
* 
* BARRE DE NAVIGATION
*
*
*/

/* Styles pour les écrans large */
@media only screen and (min-width: 992px) {
  .content {
    padding: 0 15%;
    gap: 0;
  }

  .hamburger {
    display: none;
  }
  #navbar {
    width: 100%;
    height: 86px;
    padding: 0 15%;
    box-sizing: border-box;
    align-items: center;
  }
  .nav-links {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
  }
  .links {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-color-1);
    gap: 10px;
    padding: 0;
  }
  .nav-links li a {
    margin: 0 20px 0 0;
  }
  .nav-links a {
    position: relative;
    text-decoration: none;
    color: #333;
    overflow: hidden;
  }

  .nav-links a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333;
    transition: width 0.3s;
  }
  .nav-links a:hover::before {
    width: 100%;
  }
  .auth-links,
  .page-links {
    flex-direction: row;
    padding: 0;
    gap: 5px;
  }
  .btn {
    margin-right: 10px;
    max-width: 300px;
  }

  .link::before {
    content: none;
    padding-right: 0;
    width: 0;
    height: 0;
  }

  .link-right::after {
    content: none;
    padding-left: 0;
    width: 0;
    height: 0;
  }
}

/* Styles pour les écrans extra large (écran de bureau) */
@media only screen and (min-width: 1199px) {
  .nav-links li a {
    font-size: 1.2em;
  }
  .links {
    gap: 13px;
  }
  .auth-links,
  .page-links {
    gap: 8px;
  }
}

/* Styles pour les écrans extra extra large */
@media only screen and (min-width: 1400px) {
  .links {
    gap: 15px;
  }
  .auth-links,
  .page-links {
    gap: 11px;
  }
}
