@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Couleur par défaut */
:root,
#wrapper[data-theme="light"] {
  /* bg color */
  --bg-color-1: #ffffff;
  /* font color */
  --font-color-1: #000000;
  /* bg overlay */
  --ov-bg-color: #ffffed;
}

#wrapper[data-theme="dark"] {
  /* bg color */
  --bg-color-5: #010c0c;

  /* font color */
  --font-color-1: #ffffff;
}

body {
  background-color: var(--bg-color-1);
}

table {
  border-spacing: 0;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #bbb7b7;
  cursor: pointer;
}

/*
*
* 
* BARRE DE NAVIGATION
*
*
*/

/* Styles pour les écrans de taille inférieure (mobile) */

#navbar {
  position: relative;
  display: flex;
  transition: all 2s ease-in-out;
}

.nav-links {
  display: none;
  position: absolute;
  top: 0;
  left: 10%;
  background-color: var(--bg-color-4);
  width: 80vw;
  height: 100vh;
  z-index: 1;
}

.links {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
  padding-top: 80px;
}

#overlay {
  display: none;
  position: fixed;
  top: -10%;
  left: -10%;
  width: 100%;
  height: 110%;
  background-color: var(--ov-bg-color);
  border-right: solid 1.5em #fff;
  filter: blur(15px);
  z-index: -1;
  animation: slide-in 0.5s both;
}

@keyframes slide-in {
  from {
    transform: translateX(-90%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-90%);
  }
}

.is-active {
  display: block;
}

.nav-links ul {
  list-style-type: none;
}

.nav-links li {
  width: 100%;
}

.nav-links li a {
  color: var(--font-color-2);
  text-decoration: none;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

.page-links,
.auth-links {
  display: flex;
  flex-direction: column;
  gap: 45px
}

/* Styles pour les écrans de taille moyenne (tablette) */
@media only screen and (min-width: 768px) and (max-width: 900px) {
}

/* Si plus de 900px, on affiche la barre de navigation complète */
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    height: auto;
  }
  .links {
    flex-direction: row;
    gap: 15px;
    text-align: left;
    padding: 0;
  }
  .nav-links li {
    padding: 0% 50px;
  }
  .nav-links li a {
    font-size: 20px;
  }
  .page-links,
  .auth-links {
    flex-direction: row;
  }
}

/* Styles pour les écrans de taille supérieure (écran de bureau) */
@media only screen and (min-width: 1025px) {
  body {
    background-color: var(--bg-color-1);
  }
  .nav-links {
    display: flex;
    position: static;
    width: auto;
    height: auto;
  }
  .links {
    flex-direction: row;
    gap: 15px;
    text-align: left;
    padding: 0;
  }
  .nav-links li {
    padding: 0% 50px;
  }
  .nav-links li a {
    font-size: 24px;
  }
  .page-links,
  .auth-links {
    flex-direction: row;
    padding: 0;
  }
}
