@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
}

/* Couleur par défaut */
:root,
#wrapper[data-theme="light"] {
  /* bg color */
  --bg-color-1: #f1f2f3;
  --bg-color-2: #ffffed;
  --bg-color-3: #fff;
  /* font color */
  --font-color-1: #000000;
  /* overlay color */
  --ov-bg-color: rgb(0, 0, 0, 0.85)
}

#wrapper[data-theme="dark"] {
  /* bg color */
  --bg-color-5: #010c0c;

  /* font color */
  --font-color-1: #ffffff;
}

body {
  background-color: var(--bg-color-1);
  max-width: 100vw;
}

/*
*
* 
* BARRE DE NAVIGATION
*
*
*/

/* Styles pour les écrans de taille inférieure (mobile) */

#navbar {
  position: relative;
  display: flex;
  height: 86px;
}

.nav-links {
  display: none;
  position: absolute;
  top: 0;
  background-color: var(--bg-color-1);
  width: 90vw;
  height: 100vh;
  z-index: 1;
  animation: slide-in 0.5s both;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
  padding-top: 80px;
}

#overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 110%;
  background-color: var(--ov-bg-color);
  z-index: -1;
}

.overflow {
  overflow: hidden;
}

@keyframes slide-in {
  from {
    transform: translateX(-90%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-90%);
  }
}

.is-active {
  display: block;
}

.nav-links ul {
  list-style-type: none;
}

.nav-links li {
  width: 100%;
}

.nav-links li a {
  color: var(--font-color-2);
  text-decoration: none;
  margin: 10px;
  font-size: 1em;
  font-weight: 600;
}

.page-links,
.auth-links {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/*
*
* BOUTON / LIEN / INPUT
*
*/

.btn {
  display: block;
  background: #5a70d3;
  color: #fff;
  padding: 10px 10px;
  transform: none;
  margin-right: 15px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  text-align: center;
  background-image: linear-gradient(315deg, #1e9afe 0%, #645ff0 74%);
}

.btn-return {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  color: #000000;
}

.link::before {
  content: url(/img/arrow-up.svg);
  padding-right: 5px;
  width: 100px;
  height: 100px;
}

input, select {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  filter: blur(0.5px);
  padding-left: 2%;
}

/* Styles pour les petits écran */
@media only screen and (min-width: 576px) and (max-width: 768px) {
}

/* Styles pour les écrans de taille moyenne */
@media only screen and (min-width: 769px) and (max-width: 991px) {
}

/*
*
* 
* BARRE DE NAVIGATION
*
*
*/

/* Styles pour les écrans large */
@media only screen and (min-width: 992px) {
  #navbar {
    width: 100%;
    height: 86px;
    padding: 0 15%;
    box-sizing: border-box;
    align-items: center;
  }

  .nav-links {
    display: flex;
    position: static;
    width: 100%;
    height: auto;
  }
  .links {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bg-color-1);
    gap: 10px;
    padding: 0;
  }
  .nav-links li a {
    font-size: 1em;
  }
  .page-links,
  .auth-links {
    flex-direction: row;
    padding: 0;
    gap: 5px;
  }

  /* Styles pour les écrans extra large (écran de bureau) */
  @media only screen and (min-width: 1199px) {
    .nav-links li a {
      font-size: 1.2em;
    }
    .links {
      gap: 13px;
    }
    .page-links,
    .auth-links {
      gap: 8px;
    }
  }

  /* Styles pour les écrans extra extra large */
  @media only screen and (min-width: 1400px) {
    .nav-links li a {
      font-size: 1.5em;
    }
    .links {
      gap: 15px;
    }
    .page-links,
    .auth-links {
      gap: 11px;
    }
  }

  /*
*
* 
* CONTENU
*
*
*/

  .content {
    padding: 89px 15%;
  }
}
