/*
*
* VUE DES SESSIONS
*
*/

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}
h2 {
  padding-left: 30px;
}
.sessions {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
@media only screen and (max-width: 575px) {
  .section-session {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    border-radius: 5px;
    margin: 0 5px;
    padding-top: 10px;
    background: var(--bg-color-3);
  }
  .table-session {
    border: 0;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    font-size: 15px;
  }
  .table-session thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table-session tr {
    margin: 5px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    background: #fff;
    border-radius: 5px;
  }
  .table-session td {
    border: 0;
    position: relative;
    padding-left: 50%;
  }
  .table-session td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .table-session td::before {
    font-weight: 600;
  }
  /*
	Label table-session
	*/
  .table-session td:nth-of-type(1):before {
    content: "Statut";
  }
  .table-session td:nth-of-type(2):before {
    content: "Formation";
  }
  .table-session td:nth-of-type(3):before {
    content: "Date de début";
  }
  .table-session td:nth-of-type(4):before {
    content: "Date de fin";
  }
  .table-session td:nth-of-type(5):before {
    content: "Inscrits";
  }
  .clickable-row {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
  }
  .clickable-row::after {
    content: url(/img/arrow-up.svg);
    position: absolute;
    top: 15px;
    right: 15px;
  }
}
.table-session .complet,
.table-session .en-cours,
.table-session .ouvert,
.table-session .terminee {
  display: block;
  background: #5a70d3;
  color: #fff;
  padding: 5px;
  transform: none;
  width: 120px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  border: 0;
  border-radius: 10px;
  text-align: center;
}
.table-session .en-cours {
  background-image: linear-gradient(315deg, #5bc4c4 0, #1d9397 75%);
}
.table-session .terminee {
  background-image: linear-gradient(315deg, #1e9afe 0, #645ff0 75%);
}
.table-session .complet {
  background-image: linear-gradient(315deg, #c95151 0, #b31818 75%);
}
.table-session .ouvert {
  background-image: linear-gradient(315deg, #98a803 0, #319939 75%);
}

/* Styles pour les petits écran */
@media only screen and (min-width: 576px) {
  .content {
    align-items: flex-end;
  }
  .section-session {
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    border-radius: 5px;
    margin: 0 10px;
    padding: 10px;
    background: var(--bg-color-3);
  }
  .table-session {
    border-collapse: separate;
    border-spacing: 10px 20px;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    font-size: 15px;
  }
}

/* Styles pour les écrans de taille moyenne */
@media only screen and (min-width: 769px) {
  .table-session {
    font-size: 18px;
  }
}

/* Styles pour les écrans large */
@media only screen and (min-width: 992px) {
  .content {
    padding: 0 15%;
    gap: 0;
  }
  .section-session {
    border: 0;
    box-shadow: none;
    border-radius: none;
    background: 0 0;
    margin: 0;
  }
  .table-session {
    background: var(--bg-color-3);
  }
}

/* Styles pour les écrans extra large (écran de bureau) */
/* @media only screen and (min-width: 1199px) {
} */

/* Styles pour les écrans extra extra large */
/* @media only screen and (min-width: 1400px) {
} */
