{% extends 'base.html.twig' %}

{% block title %}
	Module
{% endblock %}

{% block body %}
	<h1>Module</h1>

	<h2>Module : {{ module }}</h2>

    <p>Catégorie : {{ module.categorie }}</p>
{% endblock %}
