{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

    <h2>Les catégories</h2>
    
    {% for categorie in categories %}
        <p>{{ categorie }}</p>
    {% endfor %}
{% endblock %}
