{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

    <a href="{{ path('new_categorie') }}">Ajouter une catégorie</a>

    <h2>Les catégories</h2>
    
    {% for categorie in categories %}
        <p><a href="{{ path('edit_categorie', {'id' : categorie.id}) }}">{{ categorie }}</a></p>
    {% endfor %}
{% endblock %}
