{% extends 'base.html.twig' %}

{% block body %}

    <h1>Error 403 Forbidden</h1>

    <p>
        Le client n'a pas les droits d'accès au contenu, donc le serveur refuse de donner la véritable réponse. <a href="{{ path('app_home') }}">Retouner à la page d'accueil</a>.
    </p>

{% endblock %}