{% extends 'base.html.twig' %}

{% block body %}

    <h1>Autre erreur (dont l'erreur 500 Internal Server Error)</h1>

    <p>
        Le serveur a rencontré une situation qu'il ne sait pas traiter. <a href="{{ path('app_home') }}">Retourner à la page d'accueil</a>.
    </p>
    
{% endblock %}