{% extends 'base.html.twig' %}

{% block body %}

    <h1>Error 404 Not Found</h1>

    <p>
        Le serveur n'a pas trouvé la ressource demandée. Ce code de réponse est principalement connu pour son apparition fréquente sur le web. <a href="{{ path('app_home') }}">Retourner à la page d'accueil</a>.
    </p>

{% endblock %}